{% extends "base.html" %}

{% block title %} Catálogo - Tienda Zapatillas {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Catálogo de Productos</h1>
    <div class="row">
        {% for product in products %}
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ product.image_url or url_for('static', filename='img/default.jpg') }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>${{ product.price }}</strong></p>
                    <form method="post" action="{{ url_for('cart.add_to_cart', product_id=product.id) }}">
                        <input type="hidden" name="it.qty" value="1">
                        <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                    </form>
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
</div>
{% endblock %}
