{% extends "base.html" %}
{% block title %}Contacto{% endblock %}
{% block content %}
<div class="col-md-8 col-lg-6">
  <h1 class="h3 mb-3">Contacto</h1>
  <div class="alert alert-info">
    <div class="alert alert-info">
  Para dudas escríbenos a 
  <strong>
    <a href="mailto:UrbanQueens@gmail.com">UrbanQueens@gmail.com</a>
  </strong>
</div><br>
    Teléfono: <strong>
      <a href="https://wa.me/573144040400" target="_blank">+57 3144040400</a>
    </strong><br>
    Dirección: <strong>Calle 12a2#2, Velez Santander </strong>
  </div>
</div>

{% endblock %}
